@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		margin-top: 10px;
		height: 12px;
		margin: 10px
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 10vh;
		background: #f7f4ed;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-yellow;
		border-radius: 10vh;
		border: 3px solid #f6f7ed;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-yellow;
	}
}

@layer base {
	div {
		/* font-family: roboto-mono; */
		font-family: sans-serif;
	}
}

html {
	@apply text-white
}

div {
	white-space: pre-wrap;
}